<launch>
    <!--<node name="publisher_node" type="publisher.py" pkg="pub_sub" output="screen"></node>
    <node name="subscriber_node" type="subscriber.py" pkg="pub_sub" output="screen"></node> -->
    <node name="string_publisher_node" type="publisher.py" pkg="pub_sub" output="screen"></node>
    <node name="string_subscriber_node" type="subscriber.py" pkg="pub_sub" output="screen"></node>
</launch>